streamlit==1.37.0
pandas==2.2.2
numpy==1.26.4
matplotlib==3.8.4
plotly==5.22.0

scikit-learn==1.4.2
xgboost==2.0.3

yfinance==0.2.40

streamlit-option-menu==0.3.12

joblib==1.4.2
tqdm==4.66.4
requests==2.32.3
rich==13.7.1
